<!-- 
@file display.launch
@brief Displays Swerve in RViz
@author Frederick Wachter - wachterfreddy@gmail.com
@date Created: 2017-11-05
-->

<launch>

	<!--
    Arguments
  -->
	<arg name="vel_control" default="true"/>
	<arg name="solo" default="false"/> <!-- by default, running with either the on-line or off-line sim -->
	<arg name="use_gui" default="false"/> <!-- by default, don't load joint state publisher node -->

	<!--
    Run ROS Nodes
  -->
	<!-- If Running Without On-line or Off-line Sim -->
	<group if="$(arg solo)">
		<!-- Load Robot Description -->
	  <include file="$(find swerve_description)/launch/load_description.launch">
	  	<arg name="vel_control" value="$(arg vel_control)"/>
	  </include>

	  <!-- Run Joint State Publisher Node -->
	  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	    <param name="use_gui" value="$(arg use_gui)"/>
	  </node>

	  <!-- Run Robot State Publisher -->
	  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
	      respawn="true" output="screen"/>
	</group>

	<!-- Load RViz -->
	<node name="rviz" pkg="rviz" type="rviz" 
			args="-d $(find swerve_description)/config/swerve.rviz"/>

</launch>


