<!-- 
@file simple_demo.launch
@brief Runs simple demo running Swerve in Gazebo and RViz
@author Frederick Wachter - wachterfreddy@gmail.com
@date Created: 2017-11-14
-->

<launch>

  <arg name="gazebo_viz" default="true"/> <!-- by default, load Gazebo visualization -->
  <arg name="rviz" default="true"/> <!-- by default, load RViz -->
  <arg name="move_robot" default="true"/> <!-- by default, move the robot -->
  <arg name="gazebo_world" default="swerve"/> <!-- by default, load swerve world -->
  <arg name="ros_bag" default="false"/> <!-- by default, don't ros bag all topics -->

	<!--
    Include Other Launch Files
  -->
  <!-- Gazebo Launch -->
	<include file="$(find swerve_gazebo)/launch/swerve_gazebo.launch"> <!-- load Swerve in Gazebo -->
		<arg name="vel_control" value="true"/>
    <arg name="gazebo_viz" value="$(arg gazebo_viz)"/>
    <arg name="gazebo_world" value="$(arg gazebo_world)"/>
	</include>	

  <!-- RViz Launch -->
  <group if="$(arg rviz)">
	  <include file="$(find swerve_description)/launch/display.launch"/> <!-- load Swerve in RViz -->
  </group>

  <!-- ROS Bag Launch -->
  <group if="$(arg ros_bag)">
    <include file="$(find swerve_utilities)/launch/ros_bag.launch"/>
  </group>

	<!--
    Run ROS Nodes
  -->
	<node pkg="swerve_navigation" type="odom_pub" name="odom_pub"/> <!-- odom/world tf publisher node -->

	<!--
    Move Swerve
  -->
  <group if="$(arg move_robot)">
    <node pkg="rostopic" type="rostopic" name="front_wheel_move" 
    		args="pub -l /swerve/joint_FW_vel_controller/command std_msgs/Float64 'data: 3.0'"/> <!-- move front wheel -->
    <node pkg="rostopic" type="rostopic" name="right_wheel_move" 
    		args="pub -l /swerve/joint_RW_vel_controller/command std_msgs/Float64 'data: 3.0'"/> <!-- move right wheel -->
    <node pkg="rostopic" type="rostopic" name="left_wheel_move" 
        args="pub -l /swerve/joint_LW_vel_controller/command std_msgs/Float64 'data: 3.0'"/> <!-- move right wheel -->
  </group>

</launch>


