<!--
@file swerve_gazebo.launch
@brief Bring Swerve into Gazebo
@author Frederick Wachter - wachterfreddy@gmail.com
@date Created: 2017-11-05
-->

<launch>

  <!--
      Arguments
  -->

  <!-- ROS arguments -->
  <arg name="joint_pub" default="false"/> <!-- by default, don't run joint state publisher -->
  <arg name="use_gui" default="false"/> <!-- by default, don't load joint state publisher GUI -->

  <!-- Gazebo arguments -->
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <!--
      Load Gazebo
  -->

  <!-- Load Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find swerve_gazebo)/worlds/swerve.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!--
      Run ROS Nodes
  -->

  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find swerve_description)/urdf/swerve.urdf.xacro'"/>

  <!-- If the user want the joint state publisher to be loaded -->
  <group if="$(arg joint_pub)">
    <!-- Run joint state publisher node -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="$(arg use_gui)" />
    </node>
  </group>

  <!-- Run robot state publisher -->
<!--   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
      respawn="true" output="screen"/> -->

  <!-- Run Gazebo ROS node -->
  <node pkg="gazebo_ros" type="spawn_model" name="swerve_spawn" output="screen" 
      args="-urdf -param robot_description -model swerve"/>

</launch>


