<?xml version="1.0"?>

<!--
@file swerve.urdf.xacro
@brief Main xacro file for Swerve robot
@author Frederick Wachter - wachterfreddy@gmail.com
@date Created: 2017-11-05
-->

<robot name="swerve" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 
    IMPORTS 
  -->

  <!-- Import constants and modeling macros -->
  <xacro:include filename="$(find swerve_description)/urdf/swerve_utilities.xacro"/>

  <!-- Import Gazebo tags -->
  <xacro:include filename="$(find swerve_description)/urdf/swerve_gazebo.xacro"/>

  <!-- Import swerve robot -->
  <xacro:include filename="$(find swerve_description)/urdf/swerve.xacro"/>


  <!--
    WORLD DEFINITION
  -->

  <!-- Fixed dummy frame -->
  <link name="swerve_base" />


  <!--
    MACRO DEFINITIONS
  -->

  <!-- Define macros for swerve import -->
  <xacro:swerve name="swerve" parent="swerve_base">
	  <origin xyz="0 0 0.17" rpy="0 0 0"/>
  </xacro:swerve>

</robot>



